@font-face {
  font-family: 'verse';
  src:  url('../fonts/VERSE/verse.eot?na7c04');
  src:  url('../fonts/VERSE/verse.eot?na7c04#iefix') format('embedded-opentype'),
    url('../fonts/VERSE/verse.ttf?na7c04') format('truetype'),
    url('../fonts/VERSE/verse.woff?na7c04') format('woff'),
    url('../fonts/VERSE/verse.svg?na7c04#verse') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gv-"], [class*=" gv-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'verse' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gv-business-inteligence .path1:before {
  content: "\e900";
  opacity: 0.5;
}
.gv-business-inteligence .path2:before {
  content: "\e901";
  margin-left: -1em;
}
.gv-data-analysis .path1:before {
  content: "\e902";
  color: rgb(255, 99, 25);
}
.gv-data-analysis .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-data-analysis .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-data-analysis .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-data-analysis .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-data-analysis .path6:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-facebook-01:before {
  content: "\e908";
}
.gv-facebook-02:before {
  content: "\e909";
}
.gv-facebook-03:before {
  content: "\e90a";
}
.gv-github-01:before {
  content: "\e90b";
}
.gv-github-02:before {
  content: "\e90c";
}
.gv-github-03:before {
  content: "\e90d";
}
.gv-google-01:before {
  content: "\e90e";
}
.gv-google-02:before {
  content: "\e90f";
}
.gv-google-03:before {
  content: "\e910";
}
.gv-grupo_verse:before {
  content: "\e911";
}
.gv-instagram-01:before {
  content: "\e912";
}
.gv-instagram-02:before {
  content: "\e913";
}
.gv-instagram-03:before {
  content: "\e914";
}
.gv-mail-01 .path1:before {
  content: "\e915";
  color: rgb(0, 0, 0);
}
.gv-mail-01 .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.gv-mail-02:before {
  content: "\e917";
}
.gv-mail-03:before {
  content: "\e918";
}
.gv-messenger-01 .path1:before {
  content: "\e919";
  color: rgb(0, 0, 0);
}
.gv-messenger-01 .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.gv-messenger-02:before {
  content: "\e91b";
}
.gv-messenger-03:before {
  content: "\e91c";
}
.gv-mobile-apps .path1:before {
  content: "\e91d";
  color: rgb(255, 99, 25);
}
.gv-mobile-apps .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-mobile-apps .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-mobile-apps .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-mobile-apps .path5:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-mobile-apps .path6:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-mobile-apps .path7:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-mobile-apps .path8:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-mobile-apps .path9:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-mobile-apps .path10:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-mobile-apps .path11:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-mobile-apps .path12:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-mobile-apps .path13:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-mobile-apps .path14:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-shop-01 .path1:before {
  content: "\e92b";
  color: rgb(0, 0, 0);
}
.gv-shop-01 .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.gv-shop-02:before {
  content: "\e92d";
}
.gv-shop-03:before {
  content: "\e92e";
}
.gv-software-dev .path1:before {
  content: "\e92f";
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-software-dev .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-software-dev .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-software-dev .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-software-dev .path5:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-software-dev .path6:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-software-dev .path7:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-solutions .path1:before {
  content: "\e936";
  color: rgb(255, 99, 25);
}
.gv-solutions .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-solutions .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-solutions .path4:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-solutions .path5:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-solutions .path6:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 99, 25);
}
.gv-support .path1:before {
  content: "\e93c";
  color: rgb(255, 99, 25);
}
.gv-support .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-support .path3:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-support .path4:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-support .path5:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-support .path6:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-support .path7:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 99, 25);
  opacity: 0.5;
}
.gv-twitter-01:before {
  content: "\e943";
}
.gv-twitter-02:before {
  content: "\e944";
}
.gv-twitter-03:before {
  content: "\e945";
}
.gv-verse-group:before {
  content: "\e946";
}
.gv-whatsapp-01:before {
  content: "\e947";
}
.gv-whatsapp-02:before {
  content: "\e948";
}
.gv-whatsapp-03:before {
  content: "\e949";
}
.gv-youtube-01:before {
  content: "\e94a";
}
.gv-youtube-02:before {
  content: "\e94b";
}
.gv-youtube-03:before {
  content: "\e94c";
}

