/*
Site Name: VERSE Business
Description: Estilos creados para el sitio VERSE Business
Author: @JoelB
Version: 1.0 
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/


/* Index of this css file
-------------------------

	1. General
	2. Basics
	3. Header
	4. Navigation
	5. Footer 

	------------------------*/


/* 1. GENERAL
----------------------------------- */

html, body {
	min-height: 50%;
}
html {
	position: relative;
	-webkit-font-smoothing: anti-antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
ul {
	display: block;
	list-style-type: disc;
	padding-left: 20px;
}
ol {
	padding-left: 22px;
}
ol li {
	list-style-type: decimal;
}
ul ul, ul ol, ol ul, ol ol {
	margin: 1.5% 0 0 0;
	padding: 0 0 0 25px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul {
	display: block;
	list-style-type: disc;
}

/* 2. BASICS
----------------------------------- */

body {
	color: #818B92;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.8;
}
.hidden {
	display: none !important;
}
.boxed {
	margin: 80px auto;
	max-width: 1040px;
}
#content {
	background: #FFF;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
strong a {
	color: #858C91;
}
.more-link {
	color: #aaa;
}
a {
	text-decoration: none;
	transition: .07s ease-in;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #343434;
}
h1, h2, h3, h4, h5 {
	color: #53585E;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 1px !important;
	margin-bottom: 20px;
	position: relative;
}
h1 {
	font-size: 26px;
	line-height: 50px;
}
h2 {
	font-size: 18px;
	line-height: 30px;
}
h3 {
	font-size: 40px;
	line-height: 34px;
	color: #2E69F0;
	font-weight: 400;
	margin-bottom: 40px;
}
h4 {
	font-size: 14px;
	line-height: 22px;
}
h5 {
	font-size: 10px;
	line-height: 18px;
}
h6 {
	font-size: 8px;
	font-weight: 400;
}
#header .columns {
	position: relative;
	text-align: center;
}
.row {
	margin: 0 auto;
	max-width: 1280px;
	position: relative;
	width: 90%;
}
.row-header {
	max-width: 960px;
	padding: 60px 0;
	width: 80%;
}
.row img {
	height: auto;
	max-width: 100%;
	position: relative;
	vertical-align: bottom;
	z-index: 0;
}
.faded {
	background: url(images/bg5.png);
	height: 100%;
	position: relative;
	width: 100%;
}
#main section .row {
	padding: 80px 0 80px 0;
}
.main-color {
	color: #FC642B;
}
#wrapper {
	-moz-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.05);
	position: relative;
	z-index: 20;
}
#main {
	-webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
	border-color: #2E69F0 !important;
	box-shadow: 0 1px 1px rgba(0, 63, 61, 0.075) inset, 0 0 8px rgba(0, 63, 61, 0.6);
	outline: 0 none;
}
.section-gray, .section-gray2 {
	position: relative;
	background-color:white;
}
.section-gray::after, .section-gray2::before {
	background-color: white;
	transform-origin: left bottom;
	transform: skewY(3deg);
	-moz-transform: skewY(3deg);
	-webkit-transform: skewY(3deg);
	-o-transform: skewY(3deg);
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
}
.section-gray2::before {
	transform: skewY(2deg) !important;
	-moz-transform: skewY(2deg) !important;
	-webkit-transform: skewY(2deg) !important;
	-o-transform: skewY(2deg) !important;
}
.newh2{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  font-weight: 300;
  font-size: 37px;
  text-transform: none;
}

.newtxt{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 16px;
}

/* 3. HEADER
----------------------------------- */

#header {
	background: url(../img/header-banner.png);
	background-repeat: no-repeat;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
}
#header h2, .flexslider h1 {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 15px;
	margin-top: 0px;
	text-align: center;
	text-transform: uppercase !important;
}
#header .lead, #footer .columns .lead, .flexslider p {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 3px;
	margin-bottom: 15px !important;
	margin: 0 auto;
	opacity: 0.9;
	text-align: center;
	text-transform: none;
	width: 80%;
}
#wrapper {
	-webkit-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.05);
	position: relative;
	z-index: 20;
}
.socials {
	line-height: 27px;
	padding-left: 0px;
	position: relative;
}
.socials li {
	display: table-row;
	vertical-align: middle;
}
.socials i {
	font-size: 32px;
	color: white;
}
.socials i:hover {
	color: #2E69F0;
}
.socials a:hover {
	text-decoration: none;
}
.sharing {
	float: right;
	list-style: none !important;
}
.sharing ul {
	display: inline-block;
	list-style: none;
}
.button-down {
	background: #2E69F0;
	border-radius: 12px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 22px;
	margin-bottom: 0px;
	margin-top: 10px;
	margin: 0px 20px;
	padding: 12px 24px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.button-up{
	background: #FFFFFF;
    border-radius: 12px;
    color: #2E69F0;
    cursor: pointer;
    display: inline-block;
    border: 2px solid #2E69F0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 22px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin: 0px 20px;
    padding: 12px 24px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.button-up:hover{
	background: #3A76FF !important;
	color: #fff;
	box-shadow: 0 2px 8px rgba(5, 18, 40, 0.6) !important;

}
.main-button {
	width: 180px;
	border-radius: 6px;
	margin-right: 0px;
	box-shadow: 0 4px 8px rgba(83, 128, 223, .75);
}
.button-down:hover, .button-hover {
	background: #3A76FF;
	color: #fff;
}

/* 4. NAVIGATION
----------------------------------- */

.nav {
	float: right;
}
.back {
	float: right;
}
nav .logo {
	float: left;
	z-index: 900;
}
nav .logo {
	font-size: 15px;
}
.headerimage {
	padding: 40px 20px 20px !important;
	text-align: center;
	width: 100%;
}
.logo {
	color: #FFF;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 27px;
	position: relative;
}
.navbar {
	min-height: 80px !important;
}
.logoImg {
	margin: 12px 0px;
}
.logo a {
	color: #fff;
	line-height: 27px;
	padding: 0;
	text-decoration: none;
}
.logo .left {
	padding: 10px 0;
}
.logo a:hover, .logo-footer a:hover {
	text-shadow: 0px 0px 5px white;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-webkit-transition: all 200ms ease;
}
.nav a {
	color: #FFF;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 100px;
	padding-left: 30px;
	text-transform: none;
	transition: all 0.2s ease;
	padding: 0;
	vertical-align: middle;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.nav a:hover {
	color: #FFF;
	cursor: pointer;
	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.nav-footer {
	float: right;
	line-height: 20px;
	padding-bottom: 0px;
	text-align: right;
}
.nav-footer li {
	display: inline-block;
	list-style: none;
}
.nav-footer a {
	border: 1px solid #5db0c6;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	padding-left: 20px;
	padding-right: 0px;
	transition: all 0.2s ease;
	display: inline-block;
	padding: 0;
	text-transform: uppercase;
	vertical-align: middle;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.nav-footer a:hover {
	color: #FFF;
	cursor: pointer;
	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.navbar {
	border-radius: 0px;
}
.navbar-brand {
	text-shadow: none;
}
.navbar-custom {
	background-color: #000000;
	margin: 0;
	border-bottom: 1px solid rgba(247, 247, 247, 0.51);
	text-shadow: none;
}
.navbar-custom .navbar-brand {
	color: #ecf0f1;
	text-shadow: none;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
	color: #ffffff;
}
.navbar-custom .navbar-text {
	color: #ecf0f1;
	text-shadow: none;
}
.navbar-custom .navbar-nav>li>a {
	color: #ecf0f1;
	text-shadow: none;
}
.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus {
	color: #2E69F0;
	border-radius: 4px;
	text-shadow: none;
}
.navbar-custom .navbar-nav>li>.dropdown-menu {
	background-color: #000000;
	text-shadow: none;
}
.navbar-custom .navbar-nav>li>.dropdown-menu>li>a {
	color: #ecf0f1;
}
.navbar-custom .navbar-nav>li>.dropdown-menu>li>a:hover, .navbar-custom .navbar-nav>li>.dropdown-menu>li>a:focus {
	color: #ffffff;
	background-color: #fc642b;
}
.navbar-custom .navbar-nav>li>.dropdown-menu>li>.divider {
	background-color: #fc642b;
}
.navbar-custom .navbar-nav .open .dropdown-menu>.active>a, .navbar-custom .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-custom .navbar-nav .open .dropdown-menu>.active>a:focus {
	color: #ffffff;
	background-color: #fc642b;
}
.navbar-custom .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: #fc642b;
}
.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus {
	color: #ffffff;
	background-color: #fc642b;
}
.navbar-custom .navbar-toggle {
	border-color: transparent;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	background-color: #2E69F0;
}
.navbar-custom .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-custom .navbar-collapse, .navbar-custom .navbar-form {
	border-color: #ecf0f1;
}
.navbar-custom .navbar-link {
	color: #ecf0f1;
}
.navbar-custom .navbar-link:hover {
	color: #ffffff;
}
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
}
@media (max-width: 767px) {
	.navbar-custom .navbar-nav .open .dropdown-menu>li>a {
		color: #ecf0f1;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-custom .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ffffff;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu>.active>a, .navbar-custom .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-custom .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ffffff;
		background-color: #fc642b;
	}
}

/* 4. FOOTER
----------------------------------- */

#footer a {
	color: #FFF;
}
#footer a:hover {
	color: #FFF;
}
#footer .row {
	padding: 60px 0;
}
#footer .footer-below .row {
	padding: 55px 0;
	text-align: center;
}
.footer-below {
	background: #23313A;
	color: #FFF;
	font-size: 14px;
}
.footer-below .socials {
	font-size: 12px;
}
.footer-below a {
	color: #818B92;
}
.footer-below h2 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	text-transform: uppercase;
}
.footer-below p {
	font-size: 12px;
	font-weight: 100;
	text-align: left;
}
.vCenter {
	padding-top: 1em;
	padding-bottom: : 1em;
}
.SubFooter h4, .SubFooter p, .SubFooter ul, .SubFooter a {
	color: white;
	font-weight: 300;
}
.SubFooter .socials {
	margin-top: 15px;
	margin-left: -10px;
}
.SubFooter li {
	padding-right: 10px;
}
.button-subs {
	background-color: #FC642B;
	border: none;
	margin: 0;
}
.button-subs:hover {
	background-color: #FF7541;
}

/* 4. Others
----------------------------------- */

.clientes img {
	padding: 20px 10px !important;
}
.services {
	text-align: center;
}
.hid {
	display: none;
}
.showed {
	border-left: 1px solid white;
	margin: 22px 0 0 0;
	padding-left: 30px;
}
.Section i {
	font-size: 36px;
}
.Section h1, .Section hr+p {
	text-align: center;
	text-transform: none;
}
.Section hr {
	width: 100px;
	border-color: #fc642b;
	border-width: 3px;
}
.Section p {
	padding-bottom: 0em;
}
.Section h5 {
	line-height: 38px;
	text-transform: capitalize;
	letter-spacing: normal !important;
	font-size: 15px;
	margin-bottom: 0.2em;
}
.values p {
	padding: 1em 0 2em;
}
.boxes {
	background-color: white;
	border: 10px solid #f7f7f7;
	padding: 4em;
}
.boxes h5 {
	line-height: normal;
	text-align: left;
	padding-bottom: 2em;
}
#inicio {
	
	background-repeat: no-repeat;
	background-size: 150% !important;
	-webkit-background-size: auto;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	color: #08142E;
	padding: 50px 0px;
	margin-top: 75px;
	background-position: top;
	
}
#inicio h1 {
	color: white;
	font-size: 45px;
	text-align: center;
	font-weight: 400;
}
#inicio h2 {
	color: white;
	font-size: 20px;
	text-transform: none;
	font-weight: 100;
	text-align: center;
	line-height: 30px;
	padding: 0px 250px;
}

#equipo{
	background: url(../img/);
	background-repeat: no-repeat;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	color: white;

}
#formulario {
	background: url(../img/formulario.jpg);
	background-repeat: no-repeat;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	color: white;
}
#formulario h2 {
	color: white;
	font-size: 28px;
}
#formulario hr {
	border-width: 2px;
	width: 130px;
	margin: 20px 0
}
#formulario p {
	padding-bottom: 2em;
	padding-right: 5em;
}
#formulario .button-down {
	margin: 0;
	border-radius: 20px;
}
#formulario .button-down:hover {
	background-color: #FF7541;
	color: white;
}
#formulario .form-group {
	padding: 0;
}
#formulario .form-control {
	border-radius: 5px;
	padding: 20px 15px;
}
.post {
	padding: 3em;
}
.post hr {
	width: initial;
	border-width: 1px;
	border-color: #d9d9d9;
}
.post p {
	padding-bottom: 1em;
}
.post img {
	border-radius: 100px;
	width: 40px;
	height: 40px;
}
.post ul {
	padding: 0;
}
.post li {
	display: inline-block;
}

/* 6. slider
----------------------------------- */

.slideItem {
	background-size: cover !important;
	min-height: 480px;
	background-position: center !important;
}
.slideItem h1 {
	font-size: 32px;
	color: white;
	line-height: 34px;
	text-transform: none;
}
.slideItem p {
	padding: 0 0 20px 0;
}
.slideC {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}
.backSlide {
	background: rgba(0, 0, 0, 0.2);
	height: 480px;
}

.carousel-caption {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}

.no-pad {
	padding: 0;
}

/*Align vertical*/

.parent {
	position: relative;
}
.child {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 16%;
}
#mailForm .right input, #mailForm .right select, #mailForm .right textarea {
	width: 100%;
}
#mailForm .form-group {
	padding-left: 0;
}
.def select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
}
.def i.glyphicon {
	float: right;
	margin-top: -24px;
	margin-right: 5px;
	pointer-events: none;
	background-color: #fff;
	padding-right: 8px;
	color: #555;
}


label>span {
	position: relative;
	top: -5px;
	left: 8px;
}

.services h2 {
	font-size: 18px;
	margin-top: 1em;
	margin-bottom: 1em !important;
	letter-spacing: 0px !important;
}

.gs05{
	background-color: #fc642b !important;
}
.vsp{
  font-size: 12px !important;
  line-height: 25px;
  letter-spacing: 1.5px;
  color: #C8C8C8 !important;
  font-family: 'Roboto', sans-serif;
}
.tira{
	background-color: #fc642b;
	color: #fff;
	font-size: 25px;
	font-weight: 100;
}
.soluciones{
	width: auto;
	height: 80px;
}
.copyright:before {
	content: "\00a9";
}
.send{
    font-size: 30px;
    font-weight: 400;
    color: #E52E71;
    line-height: 1.5em;
}
.priv{
    font-size: 14px;
    font-weight: 100;
    color: #000;
    line-height: 1.5em;
}
.texttech{
	font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.menucollapse{
	text-align: center;
    border-bottom: 1px solid #C8C8C8;
    padding: 15px 0px
}
.btn-collapse{
	color: #C8C8C8;
    font-size: 36px;
    font-weight: 400;
}
.title-contact{
	color: #2E69F0;
	font-size: 36px;
	font-weight: 200;
}
.text-contact{
	color: #4A4A4A;
	font-weight: 300;
	padding: 10px 50px;
	font-size: 18px;
	text-align: justify;
	line-height: 25px;
}
.input-contact{
	margin-bottom: 10px;
	padding: 8px 10px;
	border-radius: 6px;
	color: #000;
	font-weight: 400;
	border: 1px solid #C0C0C0;
	font-size: 16px
}
.btn-contact{
	background-color: #2E69F0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    height: 50px;
    border-radius: 6px;
}
.btn-contact:hover{
	background-color: #3A76FF;
	color: #fff;
}


.card.card-blog {
    margin-top: 5px;
    margin-bottom: 75px;
}


/* -------------------------------- 

 Header

-------------------------------- */
.cd-morph-dropdown {
	position: relative;
	height: 60px;
	background-color:#08142E;
	text-align: left;
	padding-left: 5%;
  }
  .cd-morph-dropdown::before {
	/* never visible - used in JS to check mq */
	content: 'mobile';
	display: none;
  }
  .cd-morph-dropdown .nav-trigger {
	/* menu icon - visible on small screens only */
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	width: 60px;
	/* replace text with icon */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
  }
  .cd-morph-dropdown .nav-trigger span, .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
	/* these are the 3 lines of the menu icon */
	position: absolute;
	background-color: #ffffff;
	height: 3px;
	width: 26px;
  }
  .cd-morph-dropdown .nav-trigger span {
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
  }
  .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
	content: '';
	left: 0;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
  }
  .cd-morph-dropdown .nav-trigger span::before {
	-webkit-transform: translateY(-9px);
		-ms-transform: translateY(-9px);
			transform: translateY(-9px);
  }
  .cd-morph-dropdown .nav-trigger span::after {
	-webkit-transform: translateY(9px);
		-ms-transform: translateY(9px);
			transform: translateY(9px);
  }
  .cd-morph-dropdown.nav-open .nav-trigger span {
	background-color: transparent;
  }
  .cd-morph-dropdown.nav-open .nav-trigger span::before {
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
  }
  .cd-morph-dropdown.nav-open .nav-trigger span::after {
	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
  }
  .cd-morph-dropdown .main-nav {
	display: none;
  }
  .cd-morph-dropdown .morph-dropdown-wrapper {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	padding: 1.2em 5%;
	box-shadow: inset 0 1px 0 #e6e6e6;
	background-color: #FFFFFF;
  }
  .cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
	display: block;
  }
  .cd-morph-dropdown .dropdown-list > ul > li {
	margin-bottom: 3.3em;
	}
	
  .cd-morph-dropdown .label {
	display: block;
	font-size: 2.2rem;
	color: #1A1A1A;
	margin-bottom: .8em;
  }
  .cd-morph-dropdown .content li::after {
	clear: both;
	content: "";
	display: block;
  }
  .cd-morph-dropdown .gallery .content li {
	margin-bottom: 1.4em;
  }
  .cd-morph-dropdown .gallery .content a {
	display: block;
  }
  .cd-morph-dropdown .gallery .content a::before {
	/* icon on the left */
	content: '';
	display: inline-block;
	float: left;
	height: 54px;
	width: 54px;
	margin-right: .6em;
	background: red;
	border-radius: 50%;
	-webkit-transition: background .2s;
	transition: background .2s;
  }
  .cd-morph-dropdown .gallery .content a span, .cd-morph-dropdown .gallery .content a em {
	display: block;
	line-height: 1.2;
  }
  .cd-morph-dropdown .gallery .content a em {
	font-size: 1.8rem;
	padding: .4em 0 .2em;
	color: #1A1A1A;
  }
  .cd-morph-dropdown .gallery .content a span {
	font-size: 1.4rem;
	color: #a6a6a6;
  }
  .cd-morph-dropdown .gallery .content a:hover::before {
	background-color: #1A1A1A;
  }
  .cd-morph-dropdown .gallery li:nth-of-type(1) a::before {
	background: #f4e58a url(../img/cd-gallery-icons.svg) no-repeat 0 0;
  }
  .cd-morph-dropdown .gallery li:nth-of-type(2) a::before {
	background: #F4AF6D url(../img/cd-gallery-icons.svg) no-repeat -54px 0;
  }
  .cd-morph-dropdown .gallery li:nth-of-type(3) a::before {
	background: #DB6356 url(../img/cd-gallery-icons.svg) no-repeat -108px 0;
  }
  .cd-morph-dropdown .gallery li:nth-of-type(4) a::before {
	background: #8D4645 url(../img/cd-gallery-icons.svg) no-repeat -162px 0;
  }
  .cd-morph-dropdown .links .content > ul > li {
	margin-top: 1em;
  }
  .cd-morph-dropdown .links-list a,
  .cd-morph-dropdown .btn {
	display: block;
	margin-left: 14px;
	font-size: 2.2rem;
	line-height: 1.6;
  }
  .cd-morph-dropdown .links-list a:hover,
  .cd-morph-dropdown .btn:hover {
	color: #1A1A1A;
  }
  .cd-morph-dropdown .content h2 {
	color: #a6a6a6;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3rem;
	margin: 20px 0 10px 14px;
	}
	
	.logomobile{
			margin-top: 20px;
		}

		.navbar-brand {
			width:100%;
		}

		.cd-main-content {
		min-height: 100vh;
		background-color: #ffffff;
		}
	

	ul {
    display: block;
    list-style-type: none;
	}

	#main-content{
		display:block;
	}


  @media only screen and (min-width: 1200px) {
			.cd-morph-dropdown {
				position: absolute;
				height: 80px;
				left: 0;
				top: 0;
				width: 100%;
				padding-left:16%
			}
			.cd-morph-dropdown::before {
				content: 'desktop';
			}
			.cd-morph-dropdown .nav-trigger {
				display: none;
			}
			.cd-morph-dropdown .main-nav {
				display: inline-block;
				width: 100%;
			}
			.cd-morph-dropdown .main-nav > ul > li {
				display: inline-block;
				float: left;
				margin-top: 7px;
			}

			.cd-morph-dropdown .main-nav > ul > li:first-child {
				margin-bottom: 3.3em;
				display: inline-block;
				margin-top: 18px;
				padding-right: 26%;
			}

			.cd-morph-dropdown .main-nav > ul > li:nth-child(2) {
				
			}

			.cd-morph-dropdown .main-nav > ul > li > a {
				display: block;
				padding: 0 27px;
				height: 70px;
				line-height: 70px;
				color: #FFFFFF;
				font-size: 17px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				-webkit-transition: opacity .2s;
				transition: opacity .2s;
				vertical-align: top;
			}

			.cd-morph-dropdown .main-nav > ul > li:first-child > a{
				padding: 0;
			}

			.cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li > a {
				/* main navigation hover effect - on hover, reduce opacity of elements not hovered over */
				opacity: .6;
			}
			.cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li.active > a {
				opacity: 1;
			}
			.cd-morph-dropdown .morph-dropdown-wrapper {
				/* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
				display: block;
				top: 58px;
				/* overwrite mobile style */
				width: auto;
				padding: 0;
				box-shadow: none;
				background-color: transparent;
				/* Force Hardware acceleration */
				-webkit-transform: translateZ(0);
						transform: translateZ(0);
				will-change: transform;
				-webkit-transform: translateY(20px);
					-ms-transform: translateY(20px);
						transform: translateY(20px);
				-webkit-transition: -webkit-transform .3s;
				transition: -webkit-transform .3s;
				transition: transform .3s;
				transition: transform .3s, -webkit-transform .3s;
			}
			.cd-morph-dropdown.is-dropdown-visible .morph-dropdown-wrapper {
				-webkit-transform: translateY(0);
					-ms-transform: translateY(0);
						transform: translateY(0);
			}
			.cd-morph-dropdown .dropdown-list {
				position: absolute;
				top: 0;
				left: 0;
				visibility: hidden;
				-webkit-transform: translateZ(0);
						transform: translateZ(0);
				will-change: transform, width, height;
				-webkit-transition: visibility .3s;
				transition: visibility .3s;
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
			}
			.no-csstransitions .cd-morph-dropdown .dropdown-list {
				display: none;
			}
			.cd-morph-dropdown .dropdown-list::before {
				/* dropdown top triangle */
				content: '';
				position: absolute;
				bottom: 100%;
				left: 50%;
				right: auto;
				-webkit-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
						transform: translateX(-50%);
				height: 0;
				width: 0;
				border: 8px solid transparent;
				border-bottom-color: #FFFFFF;
				opacity: 0;
				-webkit-transition: opacity .3s;
				transition: opacity .3s;
			}
			.cd-morph-dropdown .dropdown-list > ul {
				position: relative;
				z-index: 1;
				height: 100%;
				width: 100%;
				overflow: hidden;
			}
			.cd-morph-dropdown.is-dropdown-visible .dropdown-list {
				visibility: visible;
				-webkit-transition: width .3s, height .3s, -webkit-transform .3s;
				transition: width .3s, height .3s, -webkit-transform .3s;
				transition: transform .3s, width .3s, height .3s;
				transition: transform .3s, width .3s, height .3s, -webkit-transform .3s;
			}
			.cd-morph-dropdown.is-dropdown-visible .dropdown-list::before {
				opacity: 1;
			}
			.cd-morph-dropdown .dropdown {
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				visibility: hidden;
				width: 100%;
				-webkit-transition: opacity .3s, visibility .3s;
				transition: opacity .3s, visibility .3s;
			}
			.cd-morph-dropdown .dropdown.active {
				opacity: 1;
				visibility: visible;
			}
			.cd-morph-dropdown .dropdown.move-left .content {
				-webkit-transform: translateX(-100px);
					-ms-transform: translateX(-100px);
						transform: translateX(-100px);
			}
			.cd-morph-dropdown .dropdown.move-right .content {
				-webkit-transform: translateX(100px);
					-ms-transform: translateX(100px);
						transform: translateX(100px);
			}
			.cd-morph-dropdown .label {
				/* hide the label on bigger devices */
				display: none;
			}
			.cd-morph-dropdown .content {
				padding: 2.2em 1.8em;
				-webkit-transition: -webkit-transform .3s;
				transition: -webkit-transform .3s;
				transition: transform .3s;
				transition: transform .3s, -webkit-transform .3s;
				text-align: left;
			}
			.cd-morph-dropdown .content > ul::after {
				clear: both;
				content: "";
				display: block;
			}
			.cd-morph-dropdown .content > ul > li {
				width: 48%;
				float: left;
				margin-right: 4%;
				margin-top: 0;
			}
			.cd-morph-dropdown .content > ul > li:nth-of-type(2n) {
				margin-right: 0;
			}
			.cd-morph-dropdown .gallery .content {
				/* you need to set a width for the .content elements because they have a position absolute */
				width: 510px;
				padding-bottom: .8em;
			}
			.cd-morph-dropdown .gallery .content li {
				margin-bottom: 1.8em;
			}
			.cd-morph-dropdown .links .content > ul > li {
				margin-top: 0;
			}
			.cd-morph-dropdown .links .content,
			.cd-morph-dropdown .button .content {
				width: 390px;
			}
			.cd-morph-dropdown .links-list a {
				font-size: 1.6rem;
				margin-left: 0;
			}
			.cd-morph-dropdown .btn {
				display: block;
				width: 100%;
				height: 60px;
				margin: 1.5em 0 0;
				font-size: 1.8rem;
				text-align: center;
				color: #FFFFFF;
				line-height: 60px;
				background: #DB6356;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			.cd-morph-dropdown .btn:hover {
				background: #1A1A1A;
				color: #FFFFFF;
			}
			.cd-morph-dropdown .content h2 {
				font-size: 1.8rem;
				text-transform: none;
				font-weight: normal;
				color: #1A1A1A;
				margin: 0 0 .6em;
			}
			.cd-morph-dropdown .bg-layer {
				/* morph dropdown background */
				position: absolute;
				top: 0;
				left: 0;
				height: 1px;
				width: 1px;
				background: #FFFFFF;
				opacity: 0;
				-webkit-transition: opacity .3s;
				transition: opacity .3s;
				-webkit-transform-origin: top left;
					-ms-transform-origin: top left;
						transform-origin: top left;
				-webkit-transform: translateZ(0);
						transform: translateZ(0);
				will-change: transform;
				-webkit-backface-visibility: hidden;
						backface-visibility: hidden;
			}
			.cd-morph-dropdown.is-dropdown-visible .bg-layer {
				opacity: 1;
				-webkit-transition: opacity .3s, -webkit-transform .3s;
				transition: opacity .3s, -webkit-transform .3s;
				transition: transform .3s, opacity .3s;
				transition: transform .3s, opacity .3s, -webkit-transform .3s;
			}

			.logomobile{
				display:none;
			}
			
			.cd-main-content {
			padding-top: 80px;
		}
		.cd-morph-dropdown .main-nav > ul > li:first-child {
    margin-bottom: 3.3em;
    display: inline-block;
    margin-top: 18px;
		padding-right: 26%;
	}	

		.cd-morph-dropdown .main-nav > ul > li:first-child{
			padding-right: 7%;
		}

		.cd-morph-dropdown .main-nav > ul > li > a{
			font-size: 16px;
			padding: 0 20px;
		}


  }
	
	@media only screen and (min-width: 1400px) {
		.cd-morph-dropdown .main-nav > ul > li:first-child {
    padding-right: 15%;
	}

}
#inicio {
	margin: 0;
  background-position: -520px -735px;
  height: 612px;
  background-size: auto 1665px !important;
}



@media only screen and (min-width: 120px) {
	#inicio .marketing{
	width: 100%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	}

	#inicio .marketing .copyprincipal{
	padding: 0px 0px 25px;
	width: 100%;
	}

	#inicio .marketing .copyprincipal h1{
		
    font-size: 32px;
    margin-top: 0px;
    line-height: 49px;
	}

	#inicio .marketing figure{
		display:inline-block;
		width: 50%;
	}

	#inicio .marketing figure .temperaturemetric{
        margin-left: 10%;
    	width: 170px;
	}

	#inicio .marketing figure .humiditymetric {
        margin-left: 10%;
    	width: 170px;
	}
	#inicio .marketing .onihero{
    display: inline-block;
    width: 48%;
		vertical-align: middle;
    text-align: center;
	}

		#inicio .marketing figure.onihero img{
		width: 126px;
	}

	section.completesystems{
		background-color: #2f69f0;
		padding-bottom: 80px;
	}

	section.completesystems div h2{
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 60px;
    margin: 0;
    padding-bottom: 60px;
    font-weight: 300;
    line-height: 45px;
	}

	section.completesystems div.icn{
    background-color: #2f69f0;
    width: 87%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
	}

	section.completesystems div.icn .description{
		display: inline-block;
    margin-left: 16px;
		width: 90%;
		margin-bottom: 15px;
	}

	section.completesystems div.icn .description .icndescription{
		display: inline-block;
		margin-left: 16px;
		width: 68%;
	}	

	section.completesystems div.icn .description .icndescription p.description{
		color:white;
		display: inline-block;
		margin-top: 9px;
	}	


	section.completesystems div.icn .description .icndescription h4{
		color:white;
		display: block;
		vertical-align: top;
		margin: 0;
	}	

	section.completesystems div.icn .description figure{
		display: inline-block;
		vertical-align: top;
	}

	section.completesystems div.icn .description figure img{
		width: 60px;
	}

	section.bloghome{
		background-color:#f1f5ff
	}

	section.bloghome div.container div.row h2{
		text-align:center;
		font-size: 40px;
		color: #2f68f0;
		font-weight:100;
		margin-top: 0;
		margin-bottom: 70px;
		line-height: 40px;
	}

	h5.titulo{
		font-size: 18px;
		font-weight: 400;
		line-height: 27px;
	}

	h6.category{
    background-color: #77c427;
    border-radius: 5px;
    color: white !important;
		width: 47%;
    vertical-align: top;
    text-align: center;
    padding-top: 6px !important;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    padding-bottom: 4px;
	}

	h6.category a{
		color: white !important;
	}

	section.trusted {
		margin-bottom: 70px;
	}

		section.trusted .container .fila{
			text-align: center;
			margin-top:20px;
		}

		section.trusted .container .fila .text{
			text-align: center;
		}

		section.trusted .container .fila .text h2{
			font-size: 40px;
			color: #2f68f0;
			font-weight: 300;
		}

		section.trusted .container .fila .description img{
			width: 100px;	
		}

		section.trusted .container .fila .description img.original{
			width: auto;
		}

		section.meetsolutions{
			background: #f1f5ff;
			margin: 0;
			width: 100%;
			max-width: inherit;
			padding-top: 20px;
			padding-bottom: 45px;
		}		

		section.meetsolutions h3.titulo{
			color: #2e69f0;
			font-weight: 300;
			text-align: center;
			line-height: 42px;
		}		
		
		section.meetsolutions p.pitch{
			margin: 30px 9.5%;
    	text-align: center;
		}

		section.meetsolutions .cta{
    	text-align: center;
		}

		 section.meetsolutions .cta a:first-child{
    	background-color: #2e69f0;
		}
		
		section.meetsolutions .cta a:last-child{
			background-color: white;
			color:#2e69f0
		}


		section.meetsolutions div.productos{
			text-align:center; 
			padding-bottom: 30px;
		}

		section.meetsolutions div.productos img:first-child{
			width: 100px;
			margin: 0 4%;
		}

		section.meetsolutions div.productos img:last-child{
			width: 165px;
			margin: 0 4%;
		}		

		section.subscription{
			background-color: #2f69f0;
			color: white;
			padding: 40px 0%;
		}

		section.subscription div.titulo{
			font-size: 9px;
			width: 100%;
			display: inline-block;
			text-align: center;
		}		

		section.subscription div.titulo h1{
			color: white;
		}		
		
		section.subscription div.titulo p{
			width: 100%;
			font-size: 16px;
		}		

		section.subscription div.form{
			display: inline-block;
			vertical-align: top;
			text-align: center;
			margin-top: 20px;
			width: 100%;
		}

		section.subscription div.form input{
			border-radius: 5px;
			width: 83%;
			padding: 9px 9px 6px 15px;
			color:black;
			text-align: center;
		}

		section.subscription div.form button{
			background-color: #7ed322;
			border-radius: 5px;
			font-weight: bold;
			padding: 7px 32px;
			vertical-align: top;
			border: none;
			margin-top: 20px
	  }

		section.hero div.background{
			margin: 0;width: 100%;
			background-size: cover;
			height: 600px;background-repeat  t: no-repeat;
		}

		section.hero div.background figure{
			width: 100%;
			text-align: center;
			display: inline-block;
			margin-top: 120px;
			margin-left: 250px;
		}

			section.hero div.background h2{
			padding-top:120px;
			color: white;
			font-weight: bold;
			text-align: center;
			font-size: 65px;
		}

		div.oni{
			background: white;margin: 0;width: 100%;max-width: 1600px;
		}

		div.oni-down img{
			width: 45%; 
			margin-top:70px;
			display: none;
		}

		div.oni .card-body{
			margin-top:20px;
		}

		div.oni .card-body .oni-up{
			text-align: center;
    	background: #F6F6F6;
			padding: 20px;
			margin-bottom: 50px;
		}

		div.card-body .oni-up img{
			width: 45%; 
			margin-top:10px
		}

		div.oni .card-body .card-description{
			font-size: 24px;
		}

		div.oni .card-body .card-title{
			color: #2f69f0;
			font-size: 35px;
			font-weight: 300;
		}

		div.oni div.card-body div.iconos{
			width: 100%;
			margin: 0;
			margin-top: 35px;
			color: #2f69f0;
			margin-bottom: 35px;
		}

		div.oni div.card-body figure{
			display: inline-block;
    	margin-right: 25px;
    	vertical-align: top;
    	text-align: center;
    	padding: 10px 0;
    	width: 54px;
		}


		div.oni div.card-body figure img{
			width: 19px;
			height: initial;
		}

		div.oni div.card-body figure img.salinity{
			width: 40px;
		}

		div.oni div.card-body figure img.conductivity{
			width: 22px;
			height: initial;
		}

		div.oni div.card-body figure img.color{
			width: 40px;
			height: initial;
		}

		div.oni div.card-body figure img.oxygen{
			width: 45px;
			height: initial;
		}

		div.oni div.card-body figure img.orp{
			width: 44px;
			height: initial;
		}

		div.oni div.card-body figure img.chlorine{
			width: 45px;
			height: initial;
		}

		div.oni div.card-footer a{
			background-color: #2e69f0;
		}

		div.oni div.card-footer a:hover{
			background-color: black;
		}

		div.oni div.card-body figure p{
			font-size: 13px;
			margin-top: 12px;
		}

		section.casestudies{
			background: #F1F5FF;
			padding-bottom: 75px;
		}

		section.casestudies h2{
			text-align: center;
    	margin-bottom: 100px;
    	margin-top: 0;
    	padding-top: 60px;
    	color: #2E69F0;
    	font-weight: 300;
    	font-size: 40px;

		}

		section.casestudies div.articulo{
			padding-bottom: 80px;
			text-align: center;
		}

		section.casestudies div.articulo .datos{
			display: inline-block;
			width: 76%;
			vertical-align: top;
			margin-top: 20px;
		}

		section.casestudies div.articulo .datos a h3{
			margin: 0;
			margin-bottom: 20px;
			font-size:30px;
		}

		section.casestudies div.articulo figure{
			display: inline-block;
			vertical-align: top;
		}

		section.casestudies div.articulo img.portada{
			width: 300px;
			border-radius: 16px;
		}

		section.hero div.background figure {
			width: 100%;
			text-align: center;
			display: inline-block;
			margin-top: 120px;
			margin-left: 0px;
		}

}


@media only screen and (min-width: 650px) {
	section.completesystems div.icn {
    background-color: #2f69f0;
    width: 87%;
    display: inline-block;
    vertical-align: top;
    margin-left: 17%;
}

#inicio .marketing figure .humiditymetric {
    margin-left: 15%;
    width: 250px;
}

#inicio .marketing figure .temperaturemetric {
    margin-left: 15%;
    width: 250px;
}

#inicio .marketing figure.onihero img {
    width: 148px;
}

#inicio {
	margin: 0;
  background-position: -520px -735px;
  height: 654px;
  background-size: auto 1665px !important;
}
}

@media only screen and (min-width: 470px) {
	div.card-body .oni-up img {
    width: 20%;
    margin-top: 10px;
	}
}

@media only screen and (min-width: 976px) {
	section.subscription div.form input {
    border-radius: 5px;
    width: 90%;
    padding: 9px 9px 6px 15px;
    color: black;
    text-align: center;
}

#inicio .marketing figure .temperaturemetric {
    margin-left: 15%;
    width: 350px;
}

#inicio .marketing figure .humiditymetric {
    margin-left: 15%;
    width: 350px;
}

#inicio {
    margin: 0;
    background-position: -520px -735px;
    height: 754px;
    background-size: auto 1665px !important;
}

#inicio .marketing figure.onihero img {
    width: 199px;
}

	#inicio .marketing .copyprincipal h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 0px;
	line-height: 49px;
	margin-left: 0%;
	}

}

@media only screen and (min-width: 992px) {

	div.att{
		margin-left: 17%;
	}

section.completesystems div.icn {
    background-color: #2f69f0;
    width: 87%;
    display: inline-block;
    vertical-align: top;
    margin: 0 21%;
}

section.meetsolutions div.productos {
		width: 38%;
    margin-top: 95px;
}

section.subscription div.form button {
    background-color: #7ed322;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 24px;
    vertical-align: top;
    border: none;
    margin-top: 0px;
    width: 17%;
}

section.subscription div.form input {
    border-radius: 5px;
    width: 29%;
    padding: 9px 9px 6px 15px;
    color: black;
    text-align: center;
}

	div.oni-up{
			display: none;
		}

	div.oni-down img {
    width: 77%;
    margin-top: 70px;
    display: block;
    margin-right: 0;
	}

	section.casestudies div.articulo .datos {
    display: inline-block;
    width: 46%;
    vertical-align: top;
    margin-left: 5%;
	text-align: left;
	margin-top: 0;
	}

	section.casestudies div.articulo {
    text-align:center;
	}




}

@media only screen and (min-width: 1200px) {
	#inicio .marketing figure .temperaturemetric {
    margin-left: 55%;
    width: 350px;
	}
	
	#inicio .marketing figure .humiditymetric {
    margin-left: 55%;
    width: 350px;
	}

	.cd-morph-dropdown .gallery .content{
		background: #f2f6fe;
	}

	.cd-morph-dropdown .gallery .content a em{
		font-size: 20px;
    	padding: .8em 0 .2em;
    	color: #1A1A1A;
    	font-style: normal;
	}

	#main-content{
		z-index: 0;
    	position: relative;
	}

	.cd-main-content {
    padding-top: 0px;
	}

	.cd-morph-dropdown{
		position: relative;
    	height: 80px;
    	left: 0;
    	top: 0;
    	width: 100%;
    	padding-left: 16%;
	}
	
	.cd-morph-dropdown.is-dropdown-visible .morph-dropdown-wrapper{
		z-index: 10;
	}
}

@media only screen and (min-width: 1440px) {

section.completesystems div.icn {
    background-color: #2f69f0;
    width: 64%;
    display: inline-block;
    vertical-align: top;
    margin: 0 27%;
}



}



.woocommerce-breadcrumb{
	display:none;
}
.woocommerce-products-header{
	margin-top: 50px;
	margin-bottom: 60px;
}

h1.woocommerce-products-header__title{
	text-align: center;
	color: #2b66ff;
	font-weight: 300;
	font-size: 31px;
}

.woocommerce-ordering{
	display:none;
}

#sidebar{
	display:none;
}

.woocommerce-result-count{
	display:none;
}

h2.woocommerce-loop-product__title{
	text-align: center;
}

.has-post-thumbnail{
	width: 30%;
	display: inline-block;
	text-align: center;
}

ul.products .product-type-simple{
	width: 33%;
	display: inline-block;
	text-align: center;
	margin-bottom: 100px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

span.onsale{
	display:none;
}

.add_to_cart_button{
	display:block;
	background: #2b66ff;
	color: white;
	border-radius: 10px;
	margin: 15px 35% 0px;
	text-align: center;
}

.woocommerce-Price-amount{
	color: #9B9B9B;
	font-weight: bold;
}

a del{
	color: #9B9B9B;
}

.woocommerce-message{
	text-align: center;
	border: 1px solid #9a9b9b;
	margin: 10px 25% 70px;
	padding: 20px 0 20px;		
}

.woocommerce-message a{
	color: #2b66ff;
	text-decoration: underline;
}

.wc-forward{
	display: block;
}

a{
	color: #2b66ff;
}

.product{	
    width: 90%;
    text-align: left;
    margin-top: 106px;
    margin-left: 5%;
    margin-right: 5%;
}	

.woocommerce-product-gallery {
    display: inline-block;
    width: 53%;
    text-align: center;
}

	.woocommerce-message{
		text-align: center;
    	border: 1px solid #9a9b9b;
    	margin: 40px 25% 10px;
    	padding: 20px 0 20px;		
	}

	.woocommerce-message a{
		color: #2b66ff;
    	text-decoration: underline;
	}
	
	.woocommerce-Tabs-panel h3{
    	margin-top: 80px;
	}

.wc-forward{
	display: block;
}

.price{
    margin-bottom: 20px;	
}

.cart{
    margin-top: 50px;
    margin-bottom: 30px;
}

.single_add_to_cart_button{
    margin-top: 40px;
    display: block;
    background: #2b66ff;
    color: white;
    border-radius: 10px;
}

.posted_in{
    display: block;
    margin-bottom: 11px;
}

.wc-tabs{
	display: none;
}

.woocommerce-tabs{
    margin-left: 7%;
    margin-top: 85px;
}

.woocommerce-Tabs-panel h2{
    line-height: 34px;
    color: #2E69F0;
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 40px;
}

.woocommerce-Price-amount{
	color: #9B9B9B;
    font-weight: bold;
}

#sidebar {
	display: none;
}

figure.woocommerce-product-gallery__wrapper div:nth-child(1){
	display: block;
}

figure.woocommerce-product-gallery__wrapper div:nth-child(2){
	display:inline-block;
	margin-right: 20px;
}

figure.woocommerce-product-gallery__wrapper div:nth-child(3){
	display:inline-block;
	margin-right: 20px;
}

figure.woocommerce-product-gallery__wrapper div:nth-child(4){
	display:inline-block;
	margin-right: 20px;
}

.woocommerce-breadcrumb{
	display: none;
}


.summary {
    display: inline-block;
    width: 41%;
    vertical-align: top;
    text-align: left;
}

.summary h1{
	font-size: 26px;
    line-height: 50px;
}

.product-type-simple {
    width: 90%;
    display: inline-block;
    margin-bottom: 100px;
}

